.catalog__wrapper {
  margin: 0 auto;
  padding: 85px 0 120px 0;
  max-width: 1130px;

  @include vp-1023 {
    padding: 90px 15px 100px 15px;
  }

  @include vp-767 {
    padding: 56px 10px 65px 10px;
  }
}

.catalog__wrapper h2 {
  margin: 0 0 49px 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    margin: 0 0 31px 0;
    font-size: 24px;
    line-height: 36px;
  }
}

.catalog__wrapper ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.catalog__item {
  min-height: 386px;
  color: $color-alice-blue;
  overflow: hidden;

  transform-style: preserve-3d;
  perspective: 1200px;
}

.catalog__item-flipper {
  position: relative;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  transition: 0.6s linear;
}

.catalog__item-front,
.catalog__item-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.catalog__item-front {
  background-color: $color-tangaroa;

  z-index: 2;
  transform: rotateY(0deg);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 50%;
    background: $tangaroa-to-top;
  }
}

.catalog__item-back {
  padding: 28px 25px;
  background-color: $color-tangaroa;
  overflow-y: auto;

  transform: rotateY(-180deg);

  @include vp-1023 {
    padding: 28px 35px;
  }

  @include vp-767 {
    padding: 28px 25px;
  }
}

.catalog__item:hover .catalog__item-flipper,
.catalog__item:focus-within .catalog__item-flipper {
  transform: rotateY(180deg);
}

.catalog__item-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog__wrapper h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.catalog__item-front h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 23px 30px;
  z-index: 3;

  @include vp-1023 {
    padding: 28px 35px;
  }

  @include vp-767 {
    padding: 18px 25px;
  }
}

.catalog__item-back ul {
  display: block;
  margin: 0 0 25px 0;
}

.catalog__item-back li {
  margin: 0 0 12px 0;
}

.catalog__item-back h3 {
  margin: 0 0 15px 0;
}

.catalog__item-back p {
  margin: 0;
  font-size: 14px;
  line-height: 19.6px;
}

.catalog__item-back p:first-child {
  margin: 0 0 1px 0;
  font-weight: 500;
}

.catalog__item-back a {
  display: block;
  padding: 9px 0 0 0;
  width: 100%;
  min-height: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  background-color: $color-alice-blue;
  color: $color-tangaroa;
  user-select: none;

  @include hover {
    box-shadow: 0 0 10px 1px $color-alice-blue;
  }

  @include focus {
    outline: none;
    box-shadow: 0 0 10px 1px $color-alice-blue;
  }

  &:active {
    opacity: 94%;
  }
}
