.custom-input {
  position: relative;

  &.is-invalid {
    input {
      outline: 1px solid $color-torch-red;

      &:focus,
      &:hover {
        outline: 1.5px solid $color-torch-red;
      }
    }
  }

  .input-message {
    position: absolute;
    top: -15px;
    left: 0;

    &.is-invalid {
      font-size: 11px;
      line-height: 12px;
      color: $color-alice-blue;
    }
  }
}
