.form {
  padding: 43px 50px 50px 50px;
  max-width: 403px;
  background-color: $color-tangaroa;

  @include vp-767 {
    padding: 34px 30px 40px 30px;
  }
}

.form p {
  margin: 0 0 28px 0;
  font-weight: 500;
  color: $color-alice-blue;

  @include vp-767 {
    text-align: center;
    line-height: 25.5px;
  }
}

.form input {
  display: block;
  margin: 0 0 20px 0;
  padding: 11px 16px;
  width: 100%;
  border: none;
  font-size: 14px;
  line-height: 21px;
  background-color: $color-alice-blue;
  color: $color-tangaroa;

  @include hover {
    box-shadow: 0 0 10px 1px $color-alice-blue;
  }

  @include focus {
    outline: none;
    box-shadow: 0 0 15px 1px $color-alice-blue,
      inset 0 0 0 1.5px $color-tangaroa;
  }

  &:disabled {
    opacity: 50%;
  }
}

.form input::-moz-placeholder {
  color: $color-tangaroa-opacity-70;
}

.form input::-webkit-input-placeholder {
  color: $color-tangaroa-opacity-70;
}

.form__checkbox label {
  position: relative;
  display: flex;
  padding: 0 0 0 23px;
  min-height: 20px;

  @include vp-767 {
    padding: 0 0 0 28px;
  }
}

.form__control-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  line-height: 12px;
  color: $color-alice-blue;
  cursor: pointer;
}

.form__control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: $color-alice-blue;

  @include vp-767 {
    width: 20px;
    height: 20px;
  }
}

.form__checkbox input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.form__checkbox input[type="checkbox"]:checked + .form__control-mark::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 3px;
  width: 12px;
  height: 9px;
  background-image: url("../img/svg/checked.svg");
  background-repeat: no-repeat;

  @include vp-767 {
    top: 6px;
    left: 4px;
  }
}

.form__checkbox label:hover .form__control-mark {
  box-shadow: 0 0 10px 1px $color-alice-blue;
}

.form__checkbox input:focus-visible + .form__control-mark {
  box-shadow: 0 0 15px 1px $color-alice-blue,
    inset 0 0 0 1.5px $color-tangaroa;
}

.form button {
  display: block;
  margin: 28px 0 0 0;
  padding: 10px 15px 11px 15px;
  width: 100%;
  min-height: 43px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $color-tangaroa;
  background-color: $color-alice-blue;
  border: none;
  user-select: none;
  cursor: pointer;

  @include vp-767 {
    margin: 30px 0 0 0;
  }

  @include hover {
    box-shadow: 0 0 10px 1px $color-alice-blue;
  }

  @include focus {
    outline: none;
    box-shadow: 0 0 10px 1px $color-alice-blue;
  }

  &:active {
    opacity: 94%;
  }

  &:disabled {
    opacity: 50%;
  }
}
